{% extends 'base.html' %}{% block product %}
<h2 class="subtitle">Saidas</h2>
<a class="button is-primary" href="{% url 'saida:new_saida' %}">Novo</a>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Id</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th></th>
    </tr>
  </thead>
  <tbody>{% for saida in saidas %}<tr>
      <th>{{ saida.id }}</th>
      <td>{{ saida.produto }}</td>
      <td>{{ saida.quantidade }}</td>
      <td><a class="button is-primary" href="{% url 'saida:update_saida' saida.id %}">alterar</a></td>
      <td><a class="button is-danger" href="{% url 'saida:delete_saida' saida.id %}">deletar</a></td>
    </tr>{% endfor %} </tbody>
</table>
{% endblock %}