{% extends 'base.html' %}{% block product %}
<h2 class="subtitle">Entradas</h2>
<a class="button is-primary" href="{% url 'entrada:new_entrada' %}">Novo</a>
<table class="table is-striped is-hoverable is-fullwidth is-bordered ">
  <thead>
    <tr>
      <th>Id</th>
      <th>Produto</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>{% for entrada in entradas %}<tr>
      <th>{{ entrada.id }}</th>
      <td>{{ entrada.produto }}</td>
      <td>{{ entrada.quantidade }}</td>
      <td><a class="button is-primary" href="{% url 'entrada:update_entrada' entrada.id %}">alterar</a></td>
      <td><a class="button is-danger" href="{% url 'entrada:delete_entrada' entrada.id %}">excluir</a></td>
    </tr>{% endfor %} </tbody>
</table>
{% endblock %}