{% extends 'base.html' %}
{% block product %} 
    <h2 class="subtitle">Produtos</h2> 
    <a class="button is-primary" href="{% url 'produto:new_produto' %}">Novo</a>
    <table class="table is-striped is-hoverable is-fullwidth is-bordered ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Cor</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody> {% for produto in produtos %}<tr>
                <th>{{ produto.id }}</th>
                <td>{{ produto.produto }}</td>
                <td>{{ produto.cor }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.quantidade }}</td>
                <td><a class = "button is-primary" href="{% url 'produto:update_produto' produto.id%}">alterar</a></td>
                <td><a class = "button is-danger " href="{% url 'produto:delete_produto' produto.id%}">deletar</a></td>
            </tr> {% endfor %} </tbody>
    </table>
{% endblock %}